<h3>Navigation Links</h3>
<ul id="nav_links">
    <li><%= link_to 'Upgrades Index', '/upgrades' %></li>
</ul>

<h1><%= @upgrade.car_part_name %></h1>
<ul>
    <li>"Cost of part: <%= @upgrade.cost_of_part %>"</li>
    <li>"Does it need a mechanic: <%= @upgrade.need_mechanic %>"</li>
</ul>